<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item" *ngFor="let step of _steps; let i = index">
      <button (click)="onClick(i)" [class.active]="selectedIndex === i"
        class="nav-link text-uppercase font-weight-bold btn-block" style="padding: 1.20em;">
        {{ step.label }}
        <ng-container *ngIf="step.label !== 'Review'">
          <i [ngClass]="step.completed ? 'fa fa-check' : 'fa fa-times'"
            [style.color]="step.completed ? '#4BB543' : '#ff0000'" aria-hidden="true">
          </i>
        </ng-container>
      </button>
    </li>
  </ul>
  <div>
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>
</div>